<div class="js-input-form"></div>

<!-- end row -->

<script src="assets/elm/input-form.js"></script>


<script type="text/javascript">
    /* globals Elm */
    const container = document.querySelector(".js-input-form");
    Elm.InputForm.embed(container, { todayDate: Date.now() })
</script>
