<div class="js-input-form"></div>

<!-- end row -->

<div class="widget-simple-chart card-box">
    <p><a href="/data-input-api" download="trades.csv" target="blank" ><i class="fa fa-file-excel-o" aria-hidden="true"></i> Today's trades</a></p>
</div>
