<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Data Input</h4>
    </div>
</div>
<!-- Page-Title -->


<div class="row">
    <div class="col-12">
        <div class="widget-simple-chart card-box">
            <div class="js-input-form"></div>
        </div>
    </div>
</div>
<!-- end row -->

<script src="assets/elm/input-form.js"></script>


<script type="text/javascript">
    /* globals Elm */
    const container = document.querySelector(".js-input-form");
    Elm.InputForm.embed(container, { todayDate: Date.now() })
</script>
